{
  "swagger": "2.0",
  "info": {
    "description": "Criação de API com base no JSON",
    "version": "1.0.0",
    "title": "Exemplo de API pelo Swagger"
  },
  "host": "hostdaurldaapi.io",
  "basePath": "/v2",
  "tags": [
    {
      "name": "API - Menu",
      "description": "Informações Sobre o Menu",
      "externalDocs": {
        "description": "Detalhes ...",
        "url": "https://www.google.com/"
      }
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/menu": {
      "post": {
        "tags": [
          "Menu"
        ],
        "summary": "Adição de Menu",
        "description": "",
        "operationId": "addMenu",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Body que deve ser enviado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Menu"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "menustore_auth": [
              "write:menu",
              "read:menu"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Menu - Atualizar"
        ],
        "summary": "Atualização do Menu",
        "description": "",
        "operationId": "updateMenu",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Body que deve ser enviado",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Menu"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "menustore_auth": [
              "write:menu",
              "read:menu"
            ]
          }
        ]
      }
    },
    "/menu/{menuId}": {
      "get": {
        "tags": [
          "Menu - Procurar por id"
        ],
        "summary": "Procurar Menu pelo ID",
        "description": "Retorno um menu",
        "operationId": "getMenuById",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "ID do Menu para ser retornado",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Menu"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Menu - Deletar"
        ],
        "summary": "Deletar um Menu",
        "description": "",
        "operationId": "deleteMenu",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "menuId",
            "in": "path",
            "description": "id do menu para deletar",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID"
          },
          "404": {
            "description": "Menu not found"
          }
        },
        "security": [
          {
            "menustore_auth": [
              "write:menu",
              "read:menu"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "menustore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:menu": "modify menu in your account",
        "read:menu": "read your menu"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Menu": {
      "type": "object",
      "required": [
        "name",
        "subMenus"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "nome": {
          "type": "string",
          "example": "Menu Cliente"
        },
        "subMenus": {
          "type": "array",
          "items": {
            "type": "integer",
            "example": "ID's dos submenus"
          }
        },
        "status": {
          "type": "string",
          "description": "Menu status in the store",
          "enum": [
            "Ativo",
            "Desativado"
          ]
        }
      },
      "xml": {
        "name": "Menu"
      }
    }
  }
}